@import "./variables.scss";
@import "./mixins.scss";

.chat-messages-col {
  background-color: $color-primary-light-2;
  display: grid;
  grid-template-rows: 5rem 55rem 5rem;

  .chat-messages-title-col {
    background-color: $color-primary-light-1;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    padding-left: 1rem;

    img {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
    }

    span {
      color: $color-white;
      font-size: $font-size-md;
      font-weight: 700;
    }
  }
}
