@import "../styles/variables.scss";
@import "./mixins.scss";

.cta-section {
  background-color: $color-primary-light-1;
  padding: 1rem 10rem;

  .cta-title {
    font-size: $heading-secondary-font-size;
    color: $color-white;
    text-align: center;
    margin-bottom: $bottom-gutter-md;
  }

  .cta-directions {
    display: flex;
    justify-content: center;
    column-gap: $gutter-vertical-small;
    margin-bottom: $bottom-gutter-md;

    @include mobile-small {
      flex-direction: column;
      align-items: center;
      row-gap: $gutter-horizontal-small;
    }
  }

  .cta-direction {
    background-color: $color-white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 22rem;
    height: 5rem;
    padding: 0 2rem;
    border-radius: $border-radius-md;
    cursor: pointer;

    .cta-city {
      font-size: $default-font-size;
    }

    .cta-city-arrow-icon {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
    }
  }
}
