@import "./variables.scss";
@import "./mixins.scss";

.modal-alert-message {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;

  .modal-alert-message-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-white;
    z-index: 10;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
    border-radius: $border-radius-md;

    .modal-alert-message-icon {
      font-size: 5rem;
      color: $color-error;
    }

    .modal-alert-message-text {
      text-align: center;
      font-size: $font-size-lg;
      color: $color-primary-light-1;
      font-weight: 700;
      margin-bottom: $bottom-gutter-md;
    }

    .modal-alert-message-btn {
      border: none;
      outline: none;
      background-color: $color-primary-dark;
      padding: 1rem 2rem;
      color: $color-white;
      font-size: $default-font-size;
      font-weight: 700;
      border-radius: $border-radius-sm;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        box-shadow: $box-shadow-btn;
        transform: translateY(-1px);
      }
    }
  }
}
