@import "./variables.scss";
@import "./mixins.scss";

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 7.6rem;
  padding: 0 3rem;
  margin-bottom: $gutter-horizontal-small;

  .logo {
    color: $color-primary-dark;
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: $color-hover-text-link;
    }
  }

  .main-nav-list {
    display: flex;
    align-items: center;
    gap: 2.1rem;

    .main-nav-link {
      display: flex;
      align-items: center;
      list-style: none;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      color: $color-primary-dark;

      &:hover {
        color: $color-primary-light-1;
      }

      .main-nav-icon {
        display: flex;
        align-items: center;
        font-size: 2.8rem;
      }

      .main-nav-link-text {
        font-size: 1.8rem;
        margin-left: 0.8rem;

        @include mobile {
          display: none;
        }
      }

      .main-nav__account-icon {
        height: 3.6rem;
        width: 3.6rem;
        color: $color-primary-dark;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4rem;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: $color-primary-light-1;
        }

        img {
          object-fit: cover;
          height: 3.6rem;
          width: 3.6rem;
          border-radius: 50%;
        }
      }

      .main-nav__arrow-icon {
        color: $color-primary-dark;
        display: flex;
        align-items: center;
        font-size: 2.5rem;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: $color-primary-light-1;
        }
      }
    }
  }
  .main-nav-sub-menu {
    position: absolute;
    // bottom: -13rem;
    right: 0;
    background-color: $color-primary-light-1;
    padding: 2rem 3rem;
    font-size: 1.8rem;
    color: $color-primary-light-2;
    box-shadow: $box-shadow-sub-menu;

    .sub-menu-links {
      display: flex;
      flex-direction: column;
      list-style: none;
      row-gap: 1rem;

      .sub-menu-link {
        display: flex;
        align-items: center;
        column-gap: 2rem;
        cursor: pointer;
        transition: all 0.1s ease-in-out;

        &:hover {
          color: $color-hover-text-link;
        }
      }

      .sub-menu-icon {
        display: flex;
        align-items: center;
        font-size: 2rem;
      }
    }
  }
}
