@import "./variables.scss";
@import "./mixins.scss";

.publish-card {
  position: relative;
  background-color: $color-white;
  border-radius: $border-radius-md;
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
  box-shadow: $box-shadow-card-light;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: $box-shadow-card-dark;
  }

  .card-container {
    display: grid;
    grid-template-columns: 50% 30% 20%;
    align-items: center;

    @include mobile-extra-small {
      grid-template-columns: 52% 28% 20%;
    }

    .card-directions-col {
      display: flex;
      align-items: center;

      .card-direction-text {
        font-size: $font-size-md;
        color: $color-primary-light-1;
      }

      .location-dots-col {
        height: 2rem;
        width: auto;
        display: flex;
        align-items: center;
        padding: 0 0.7rem;

        .location-cycle {
          background-color: $color-white;
          height: 0.8rem;
          width: 0.8rem;
          border-radius: 50%;
          border: solid 0.2rem $color-primary-light-1;

          @include mobile-extra-small {
            background-color: $color-primary-light-1;
          }

          &--1 {
            transform: translateX(0.2rem);

            @include mobile-extra-small {
              transform: translateX(0);
            }
          }

          &--2 {
            transform: translateX(-0.2rem);

            @include mobile-extra-small {
              display: none;
            }
          }
        }

        .location-line {
          background-color: $color-primary-light-1;
          height: 0.3rem;
          width: 3rem;

          @include mobile-small {
            width: 1.5rem;
          }

          @include mobile-extra-small {
            display: none;
          }
        }
      }
    }
    .card-date {
      color: $color-primary-light-1;
      font-size: $default-font-size;

      @include mobile-extra-small {
        font-size: $font-size-sm;
      }
    }

    .card-icons-col {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      color: $color-primary-light-1;
      font-size: $default-font-size;
      justify-self: right;

      div {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .card-smoking-icon {
        position: relative;

        .icon-smoking-tip {
          position: absolute;
          top: -3rem;
          right: -3.5rem;
          width: max-content;
          background-color: $color-grey-dark-3;
          color: $color-white;
          font-size: $font-size-sm;
          padding: 0.5rem 0.3rem;
          border-radius: $border-radius-sm;
          opacity: 0.5;
          display: none;
        }

        &:hover .icon-smoking-tip {
          display: block;
        }
      }

      .card-no-pets-icon {
        position: relative;

        .line {
          display: block;
          width: 0.13rem;
          height: 1.75rem;
          transform: rotate(-45deg);

          &-dark {
            background-color: $color-primary-light-1;
            position: absolute;
            top: 0.07rem;
            left: 0.7rem;
          }

          &-light {
            background-color: $color-white;
            position: absolute;
            top: 0.07rem;
            left: 0.9rem;
          }
        }

        .icon-is-pets-tip {
          position: absolute;
          top: -3rem;
          right: -5.8rem;
          width: max-content;
          background-color: $color-grey-dark-3;
          color: $color-white;
          font-size: $font-size-sm;
          padding: 0.5rem 0.3rem;
          border-radius: $border-radius-sm;
          opacity: 0.5;
          display: none;
        }

        &:hover .icon-is-pets-tip {
          display: block;
        }
      }

      .card-pets-icon {
        position: relative;

        .icon-is-pets-tip {
          position: absolute;
          top: -3rem;
          right: -5.8rem;
          width: max-content;
          background-color: $color-grey-dark-3;
          color: $color-white;
          font-size: $font-size-sm;
          padding: 0.5rem 0.3rem;
          border-radius: $border-radius-sm;
          opacity: 0.5;
          display: none;
        }

        &:hover .icon-is-pets-tip {
          display: block;
        }
      }

      .card-music-icon {
        position: relative;

        .icon-music-tip {
          position: absolute;
          top: -3rem;
          right: -4.5rem;
          width: max-content;
          background-color: $color-grey-dark-3;
          color: $color-white;
          font-size: $font-size-sm;
          padding: 0.5rem 0.3rem;
          border-radius: $border-radius-sm;
          opacity: 0.5;
          display: none;
        }

        &:hover .icon-music-tip {
          display: block;
        }
      }
    }

    .card-user-name-col {
      display: flex;
      align-items: center;

      img {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        object-fit: cover;

        @include mobile-small {
          height: 5rem;
          width: 5rem;
        }

        @include mobile-extra-small {
          height: 5rem;
          width: 5rem;
        }
      }

      .user-name-phone-number-col {
        margin-left: 1rem;

        .user-name {
          color: $color-primary-dark;
          font-size: $default-font-size;
          font-weight: 700;

          @include mobile-extra-small {
            font-size: $font-size-md;
          }
        }

        .user-phone-number-col {
          display: flex;
          align-items: center;
          column-gap: 0.3rem;
          color: $color-primary-light-1;
          font-size: $font-size-md;

          @include mobile-extra-small {
            font-size: $font-size-sm;
          }
        }

        .user-phone-number-text {
          color: $color-primary-dark;
          font-weight: 700;
        }
      }
    }

    .card-passenger-amount-user-car-col {
      color: $color-primary-light-1;
      font-size: $default-font-size;

      @include mobile-extra-small {
        font-size: $font-size-md;
      }

      .card-passenger-amaunt-col {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;

        .card-passenger-icon {
          position: relative;
          display: flex;
          align-items: center;
          cursor: pointer;

          .icon-passenger-tip {
            position: absolute;
            top: -3rem;
            right: -6rem;
            width: max-content;
            background-color: $color-grey-dark-3;
            color: $color-white;
            font-size: $font-size-sm;
            padding: 0.5rem 0.3rem;
            border-radius: $border-radius-sm;
            opacity: 0.5;
            display: none;
          }

          &:hover .icon-passenger-tip {
            display: block;
          }
        }

        .passenger-amaunt-text {
          color: $color-primary-dark;
          font-weight: 700;
        }
      }

      .card-user-car-col {
        display: flex;
        align-items: center;
        column-gap: 0.3rem;

        .card-user-car-text {
          color: $color-primary-dark;
          font-weight: 700;
        }
      }
    }

    .card-price-col {
      display: flex;
      flex-direction: column;
      justify-self: right;

      .card-price-text {
        color: $color-primary-light-1;
        font-size: $font-size-md;
        font-weight: 700;

        @include mobile-extra-small {
          font-size: $font-size-sm;
        }
      }

      .card-price {
        color: $color-primary-dark;
        font-size: $font-size-lg;
        font-weight: 700;

        @include mobile-extra-small {
          font-size: $font-size-md;
        }
      }
    }
  }

  .card-container-1 {
    margin-bottom: 2rem;
  }

  .card-container-2 {
    margin-bottom: 2rem;
  }

  .publish-cta-col {
    // background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .publish-btn-col-1 {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      color: $color-primary-light-1;
      font-size: 2.5rem;
      padding: 0.7rem 1rem;
      border-radius: $border-radius-sm;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      @include mobile-extra-small {
        font-size: 2rem;
      }

      &:hover {
        background-color: $color-primary-light-2;
        color: $color-primary-dark;
      }

      p {
        font-size: $font-size-lg;

        @include mobile-extra-small {
          font-size: $font-size-md;
        }
      }
    }

    .publish-btn-col-2:link {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      color: $color-primary-light-1;
      font-size: 2.5rem;
      padding: 0.7rem 1rem;
      border-radius: $border-radius-sm;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      text-decoration: none;

      @include mobile-extra-small {
        font-size: 2rem;
      }

      &:hover {
        background-color: $color-primary-light-2;
        color: $color-primary-dark;
      }

      p {
        font-size: $font-size-lg;

        @include mobile-extra-small {
          font-size: $font-size-md;
        }
      }
    }

    .publish-btn-delete {
      display: flex;
      align-items: center;
      column-gap: 1rem;
      color: $color-primary-light-1;
      font-size: 2.5rem;
      padding: 0.7rem 1rem;
      border-radius: $border-radius-sm;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      @include mobile-extra-small {
        font-size: 2rem;
      }

      &:hover {
        background-color: $color-primary-light-2;
        color: $color-primary-dark;
      }

      p {
        font-size: $font-size-lg;

        @include mobile-extra-small {
          font-size: $font-size-md;
        }
      }
    }
  }
}
