@import "./variables.scss";

.form-section {
  background-color: $color-white;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .form-wrapper {
    background-color: $color-primary-light-1;
    padding: 2rem 4rem;
    margin-top: 15%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .title {
      color: $color-white;
      font-weight: bold;
      font-size: 2.4rem;
      margin-bottom: $bottom-gutter-sm;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      input {
        background-color: $color-white;
        padding: 1.5rem;
        border: none;
        border-radius: $border-radius-sm;
        outline: none;
        width: 25rem;

        &::placeholder {
          color: $color-primary-light-2;
        }
      }

      label {
        width: fit-content;
        padding: 0.5rem;
        display: flex;
        align-items: center;
        color: $color-primary-light-2;
        font-size: 3.5rem;
        cursor: pointer;

        span {
          color: $color-primary-light-2;
          font-size: 1.2rem;
          margin-left: 1rem;
        }
      }

      button {
        background-color: $color-primary-dark;
        color: white;
        padding: 1.5rem 1rem;
        font-size: $default-font-size;
        font-weight: 700;
        font-family: inherit;
        border: none;
        border-radius: $border-radius-sm;
        cursor: pointer;

        &:hover {
          transform: translateY(-1px);
          box-shadow: $box-shadow-btn;
        }
      }

      .registerErrText {
        color: red;
        font-size: 1.4rem;
        text-align: center;
      }
    }
    p {
      color: $color-primary-light-2;
      font-size: 1.2rem;
      margin-top: 1rem;

      a:link {
        text-decoration: none;
        font-size: $font-size-sm;
        font-weight: 700;
        margin-left: 0.3rem;
      }
    }
  }

  .bottom-line {
    background-color: $color-primary-light-1;
    height: 5vh;
    width: 100%;
    margin-top: auto;
  }
}
