// COLORS
$color-primary-dark: #054550;
$color-primary-dark-1: #0b98b0;

$color-primary-light-1: #528b93;
$color-primary-light-2: #b2c8ca;

$color-secondary-dark: #4dabf7;
$color-secondary-light: #74c0fc;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-success: #51cf66;
$color-error: #f03e3e;

// COLOR HOVER EFFECT
$color-hover-btn-dark: #1e5862;
$color-hover-text-link: #a0b4b6;

// FONT
$default-font-size: 1.6rem;
$font-size-md: 1.4rem;
$font-size-sm: 1.2rem;
$font-size-lg: 1.8rem;

$heading-primary-font-size: 4rem;
$heading-secondary-font-size: 2.4rem;
$heading-tertiary-font-size: 1.8rem;

// CONTAINER SIZES
$app-width: 100rem;

// WHITE SPACE SIZES
$gutter-vertical: 6rem;
$gutter-vertical-middle: 5rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 9rem;
$gutter-horizontal-middle: 6rem;
$gutter-horizontal-small: 4rem;

// TEXT BOTTOM GUTTER
$bottom-gutter-sm: 1rem;
$bottom-gutter-md: 3rem;
$bottom-gutter-lg: 5rem;
$top-gutter-sm: 1rem;
$top-gutter-md: 3rem;
$top-gutter-lg: 5rem;

// BORDER RADIUS
$border-radius-sm: 3px;
$border-radius-md: 5px;
$border-radius-lg: 10px;

// BOX SHADOWS
$box-shadow-btn: 0 1rem 2rem rgba(0, 0, 0, 0.5);
$box-shadow-btn-active: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
$box-shadow-card-light: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$box-shadow-card-dark: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-sub-menu: rgb(38, 57, 77) 0px 20px 30px -10px;
